global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node_exporter_servers"
    static_configs:
      - targets:
{% for h in groups['node_exporter'] %}
          - "{{ hostvars[h].ansible_host }}:9100"
{% endfor %}
